[Unit]
Description={{ web.name }} daemon
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a {{ web.name }}
ExecStop=/usr/bin/docker stop -t 2 {{ web.name }}

[Install]
WantedBy=multi-user.target
