<!doctype html>
<html>
  <head>
    <title>Hello from {{ inventory_hostname }}</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>
      Hello!
      This is a {{ inventory_hostname }} node.
      For experimental purposes only.
    </h1>
  </body>
</html>
